.films-mobile {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
  .wrap {
    padding-top: 30px;
    .tabs {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      li {
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        transition: all 0.2s;
        cursor: pointer;
        &.active {
          font-size: 24px;
          color: #fa5238;
        }
      }
      .active + .tab-pane {
        opacity: 1;
      }
    }
    .tab-pane {
      animation: tabPaneEffect 0.5s;
      @keyframes tabPaneEffect {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      .MuiBox-root {
        margin: 0 10px;
      }
      button {
        display: block;
        text-align: center;
        margin: 20px auto auto auto;
      }

      &.film-coming-soon {
        width: 100%;
        .MuiBox-root {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}
