.app_download {
    background-image: url("../../Assets/img/backapp.jpg");
    background-size: contain;
    padding: 120px 0 80px 0;

    .app_download_container {
        .left {
            padding-top: 60px;

            .textLeft {
                color: #fff;
                font-weight: 700;
                font-size: 33px;
                margin-bottom: 10px;
            }
    
            .textSmallerLeft {
                color: #fff;
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 10px;
            }
    
            .btn {
                background-color: #fb4226;
                padding: 10px 20px;
                color: #fff;
                font-size: 18px;
                font-weight: 700;
                border: none;
                border-radius: 4px;
            }
    
            .textAppUnder {
                color: #fff;
                padding-top: 10px;
    
                .tag {
                    color: #fff;
                    border-bottom: 1px solid #fff;
                    text-decoration: none;
                }
            }
        }

        .right {
            position: relative;

            .carousel {
                position: absolute;
                top: 60px;
                left: 169px;
                width: 230px;
                .carousel-inner {
                    .carousel-item {
                        img {
                            height: 404.5px;
                            width: 230px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 993px) {
    .textLeft, .textSmallerLeft, .textAppUnder {
        text-align: center !important;
    }
    
    .textLeft {
        font-size: 30px !important;
    }

    .textSmallerLeft {
        font-size: 13px !important;
    }

    .btn_container {
        text-align: center !important;
        justify-content: center !important;
    }
}

@media (max-width: 1199px) {
    .carousel {
        position: absolute;
        top: 50px !important;
        left: 142px !important; 
        .carousel-inner {
            .carousel-item {
                img {
                    height: 341.5px !important;
                    width: 200px !important;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .carousel {
        position: absolute;
        top: 75px !important;
        left: 213px !important; 
        .carousel-inner {
            .carousel-item {
                img {
                    height: 512px !important;
                    width: 291px !important;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .carousel {
        position: absolute;
        top: 55.5px !important;
        left: 160px !important; 
        .carousel-inner {
            .carousel-item {
                img {
                    height: 386px !important;
                    width: 218px !important;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .carousel {
        position: absolute;
        top: 55.5px !important;
        left: 165px !important; 
        .carousel-inner {
            .carousel-item {
                img {
                    height: 400px !important;
                    width: 225.5px !important;
                }
            }
        }
    }
}

@media (max-width: 414px) {
    .carousel {
        position: absolute;
        top: 43px !important;
        left: 123px !important; 
        .carousel-inner {
            .carousel-item {
                img {
                    height: 295px !important;
                    width: 167px !important;
                }
            }
        }
    }
}

@media (max-width: 411px) {
    .carousel {
        position: absolute;
        top: 43px !important;
        left: 121px !important; 
        .carousel-inner {
            .carousel-item {
                img {
                    height: 295px !important;
                    width: 167px !important;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .carousel {
        position: absolute;
        top: 39px !important;
        left: 111px !important; 
        .carousel-inner {
            .carousel-item {
                img {
                    height: 270px !important;
                    width: 152px !important;
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .carousel {
        position: absolute;
        top: 37px !important;
        left: 107px !important; 
        .carousel-inner {
            .carousel-item {
                img {
                    height: 256.5px !important;
                    width: 145px !important;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .carousel {
        position: absolute;
        top: 33px !important;
        left: 95px !important; 
        .carousel-inner {
            .carousel-item {
                img {
                    height: 228px !important;
                    width: 130px !important;
                }
            }
        }
    }
}