.checkout {
  .content {
    .step {
      .step-3 {
        text-align: center;
        padding-top: 150px;
        p {
          margin: 0;
          font-weight: 500;
        }
      }
    }
  }
}
