.film-item_container {
  width: 100%;
  .film-item {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 100%;
    height: 332px;
    img {
      margin-right: 0px;
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }
    .play-trailer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: opacity 0.5s;
      &:hover {
        background: linear-gradient(to top, #000, transparent 100%);
        .btn-play {
          opacity: 0.7;
          cursor: pointer;
        }
      }
      .btn-play {
        width: 50px;
        height: 50px;
        border: 2px solid white;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s;
        .icon-play {
          width: 30px;
          height: 30px;
          color: white;
        }
      }
    }
    .point {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1;
      border-radius: 5px;
      background: rgba(12, 27, 54, 0.8);
      border: 1px solid #1f2e46;
      padding: 2px;
      width: 56px;
      height: 39px;
      p {
        margin-bottom: 5px;
        font-size: 18px;
        color: white;
        font-weight: 500;
      }
      span {
        font-size: 10px;
      }
      .loading {
        > span {
          > span {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      span {
        line-height: 2;
      }
    }
  }
  .film-item_detail {
    position: relative;
    .filmName {
      font-size: 16px;
      height: 42px;
      max-height: 42px;
      font-family: sans-serif;
      line-height: 22px;
      margin-bottom: 0;
      overflow: hidden;
      font-weight: bold;
      opacity: 1;
      transition: all 0.2s;
    }
    .filmDate {
      font-size: 13px;
      margin-top: 0;
      opacity: 1;
      transition: all 0.2s;
    }
    .btn_Buy {
      .btn {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        font-size: 18px;
        color: #fff;
        background-color: #fb4226;
        transition: all 0.2s;
        &:hover {
          background-color: #ef3d22;
        }
        &.loading {
          background-color: none;
          width: 100%;
          padding: 0;
          span {
            line-height: 2;
          }
        }
      }
    }
  }
  &:hover {
    .film-item {
      cursor: pointer;
      .play-trailer {
        background: linear-gradient(to top, #000, transparent 100%);
        .btn-play {
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
    .film-item_detail {
      .filmName {
        opacity: 0;
      }
      .filmDate {
        opacity: 0;
      }
      .btn_Buy {
        .btn {
          opacity: 1;
        }
      }
    }
  }
}
